<!DOCTYPE html>
<html lang="en">
<%- include('./../partials/head.ejs') %>
<body>
    <%- include('./../partials/navbar.ejs') %>
    <main class='main'>
        <div class='about-content'>
            <h2 class='text-decoration'>
                About the Mini Message Board
            </h2>
            <p>
                This mini message board is a project for The Odin Project to learn about Node.js and Express,
                in it you can post a message that would be visible to anybody who visits the website.
            </p>
        </div>
    </main>
    <%- include('./../partials/footer.ejs') %>
</body>
</html>
